<div fxLayoutAlign="center center" fxFlexFill>
  <mat-card fxFlex="25" >
  
    <h1 style="font-size: 25px;margin-left: 130px;" >Sign in</h1>
    <h3 style="margin-left: 100px;">to continue to profile</h3>
        
      <form fxLayoutAlign="stretch" fxLayout="column">
        <mat-form-field>
          <mat-label >Username</mat-label>
          <input matInput type="email" placeholder="email">
          <mat-error>Enter Valid email</mat-error>
        </mat-form-field>
    
        <mat-form-field>
          <mat-label>password</mat-label>
          <input matInput type="password" placeholder="password">
        </mat-form-field>
        <button mat-raised-button color="primary">Login</button><br>
        <button mat-raised-button color="primary">Sign Up</button>
       
      </form>
     
  </mat-card>
  
</div>

